backports.functools-lru-cache==1.5
branca==0.3.0
certifi==2018.8.24
chardet==3.0.4
click==6.7
click-plugins==1.0.4
cligj==0.4.0
cycler==0.10.0
enum34==1.1.6
Fiona==1.7.13
folium==0.6.0
geopandas==0.4.0
idna==2.7
Jinja2>=2.10.1
kiwisolver==1.0.1
Markdown==3.0.1
MarkupSafe==1.0
matplotlib==2.2.3
munch==2.3.2
numpy==1.15.2
pandas==0.23.4
pyparsing==2.2.1
pyproj==1.9.5.1
python-dateutil==2.7.3
pytz==2018.5
requests==2.20.0
Shapely==1.6.4.post2
six==1.11.0
subprocess32==3.5.2
urllib3>=1.24.2
